@import './partials/setup';
@import './partials/utilities';

body {
    margin: 0;
    padding: 0;
    font-family: $bodyFont;
    background: $white;
}
a, a:active, a:visited{
    text-decoration: none;
    font-style: normal;
}

html{
	font-weight: 400;
	/* Fluid font sizing | scales based on viewport width and desired min/max font sizes*/
	font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1440 - 320)));
	letter-spacing: .03rem;
}

section{
    position: relative;
}

h1{
    font-size: .7rem;
    text-align: center;
    width: 100%;
}
h2, h3{
    font-size: .6rem;
}
h4, p{
    font-size: .5rem;
}

img{
    max-width: 100%;
}

.App{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
button{
    cursor: pointer;
    outline: none;
}
button:not(.openInvoice__icon){
        @include highlight($highlight);
        position: relative;
        font-size: .55rem;
        background: transparent;
        margin: .25rem 0;
        padding: .15rem .25rem;
        border: none;
        z-index: 999;
        transition: all .2s, border .3s;
}
.sidePanel{
    position: relative;
    height: 100vh;
    background: $highlight;
    padding: 0 .5rem;
    button{
        @include highlight($white);
    }
    .heading{
        margin-bottom: .5rem;
        font-weight: 400;
        width: 100%;
    }
}
.heading{
    width: 100%;
    font-family: $headingFont;
    margin: .25rem 0;
    &__left{
        text-align: left;
    }
    &__small{
        font-weight: 400;
    }
    &__big{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

.landing{
    background-color: $highlight;
    &.landingTrue{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: -1;
        &:before{
            content: '';
            @include position(absolute,10vmax,-10vmax,-40vmin,0);
            background: url("./assets/cookieDough.svg") no-repeat;
            background-position: bottom right;
            background-size: 105vmin;
            z-index: -1;
        }
        h1{
            font-size: 2rem !important;
            text-transform: uppercase;
            @include highlight($white);
            z-index: 999;
            &:before{
                @include position(absolute,50%,0,0,0);
                // mix-blend-mode: normal;
                // z-index: 0;
            }
        }
        .login{
            display: flex;
            justify-content: center;
            h3{
                text-align: center;
                font-size: 1rem;
            }
        }
        button{
            font-size: .8rem;
        }
    }
    &.landingFalse{
        width: 100%;
    }
}

.bar{
    margin: 0 .2rem;
}

.login{
    &__panel{
        width: 100%;
        // padding: .5rem;
    }
    &__profilePic{
        width: 1.5rem;
        border-radius: 50%;
    }
    &.login__signOut{
        margin-left: .5rem;
    }
    &__welcome{
        h1.heading{
            font-size: 1.4rem;
            text-align: left;
            margin-bottom: 1rem;
        }
        h3.heading{
            font-size: .75rem;
            text-align: left;
        }
    }
    button{
        font-size: .6rem;
    }
}

.invoiceManager{
    position: relative;
    // width: 100%;
    padding: 0 .5rem;
    .heading{
        font-size: .8rem;
    }
    input, textarea{
        @include inputStyle();
        width: 100%;
        font-size: .6rem;
        z-index: 999;
    }
    .inputContainer{
        @include inputContainer();
    }
}

.invoices{
    ul{
        display: grid;
        grid-auto-rows: 1fr;
    }
    li{
        @include highlight($white);
        padding: 0 0.25rem;
        border-width: .25rem;
        &:before{
            @include position(absolute,85%,0,10%,0);
            // border-color: $white;
        }
        &:hover{
            &:before{
                @include position(absolute,0,0,0,0);
                // border-width: 13vmin; 
            }
        }
    }
}

.invoice{
    cursor: pointer;
    z-index: 999;
    h3, h4{
        z-index: -1;
    }
    .icon{
        font-size: .3rem;
        
    }
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    &__half{
        width: 50%;
    }
    &__padding{
        padding: 0.25rem;
    }
    &__justifyCenter{
        justify-content: center;
    }
    &__spaceBetween{
        justify-content: space-between;
    }
    &__justifyFlexEnd{
        justify-content: flex-end;
    }
    &__alignCenter{
        align-items: center;
    }
    &__alignStart{
        align-items: flex-start;
    }
    &--nowrap{
        flex-wrap: nowrap;
    }
}
ul{
    list-style: none;
    padding: 0;
}

section.openInvoice{
    padding: 0 .5rem;
}
.openInvoice{
    // z-index: -1;
    input, textarea{
        @include inputStyle();
        font-family: $bodyFont;
        font-size: .6rem;
        font-weight: 500;
        width: 100% !important;
        z-index: 999;
        cursor: pointer;
    }
    svg{
        z-index: 999;
    }
    header, footer{
        background: $black;
        color: $white;
        padding: .5rem;
        input{
            color: $white;
        }
    }
    header{
        input, p{
            margin: .5rem 0;
        }
    }
    footer{
        input, p{
            font-size: .45rem;
            font-weight: 400;
            letter-spacing: .01rem;
            &.heading{
                font-size: 1rem;
                font-family: $headingFont;
                &__subHeading{
                    font-size: .6rem;
                }
            }
        }
        .row{
            justify-content: space-between;
            &__half{
                width: 60%;
            }
        }
        .row__half:last-of-type{
            justify-content: flex-end;
            width: 40%;
            input{
                text-align: right;
                width: 100%;
                
            }
        }
    }
    &__body{
        padding: .5rem;
    }
    li{
        margin-bottom: 1rem;
    }
    .inputContainer{
        @include inputContainer();
    }
    .taskName{
        width: 60%;
        text-transform: uppercase;
    }
    .hours{
        width: 20%;
    }
    .sum{
        width: 20%;
    }
    .description{
        width: 100%;
        textarea{
            font-size: .5rem;
            height: 1rem;
        }
    }
    &__icon{
        font-size: .5rem;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: color .3s;
        &:hover{
            color: $highlight;
        }
        &--save{
        }
        &--remove{
        }
    }
}

@media print {
    .hideOnPrint{
        display: none;
    }
    .printArea{
        width: 8.5in;
    }

    .openInvoice{
        // z-index: -1;
        .inputContainer{
            &:before{
                right: 0;
            }
        }
        input, textarea{
            @include inputStyle();
            font-family: $bodyFont;
            font-size: .6rem;
            font-weight: 500;
            width: 100% !important;
            z-index: 999;
            cursor: pointer;
        }
    }
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.noSpinners {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important; 
    margin: 0 !important; 
}

.relative{
    position: relative;
}
.fixed{
    position: fixed;
    width: 25%;
}

@import './partials/mediaQueries';